//COLORS
$color-popup: rgb(43, 41, 41);
$color-nav-1:rgb(233, 62, 62);
$color-nav-2:rgb(97, 2, 2);
$color-primary-2:hotpink;
$color-primary-dark-2:rgb(6, 255, 234);
$color-primary:#55c57a;
$color-primary-light:#7ed56f; 
$color-primary-dark:#28b485;
$color-primary-light-red:rgba(248, 116, 116, 0.925);
$color-primary-dark-red:rgb(189, 0, 0);
$color-bckgd-first:#FF0A0A;
$color-bckgd-second:#000000;
$color-feature-box-bg:rgb(29, 24, 24);
$color-extra:#e5f900;
$color-yellow:#FBF42C; 
$color-blue:blue;
$color-text-white:#fff;
$color-dark-grey:#eee;
$color-col-bg-color:orangered;
$color-grid-text-color:black;
$color-black-light-1:#363434;
$color-icon-color:#e40b1d;
$pricing-box-shadow-color:hotpink; 
$first-pricing-light:rgb(223, 202, 15);
$first-pricing-dark:rgb(247, 148, 0);
$second-pricing-light:#83ffac;
$second-pricing-dark:#28b485;
$third-pricing-light:rgb(110, 241, 241);
$third-pricing-dark:rgb(12, 0, 185);
$pricing-color-h4-text:rgb(245, 187, 187);
$card-front-bg:rgb(116, 108, 117);
$color-green:rgb(81, 255, 0);
$color-blue-1:rgb(0, 174, 255);
$color-orange:rgb(255, 153, 0);
$color-story-box-shadow:rgb(0, 250, 0);
$color-form-box-shadow: yellowgreen;
$color-form-bg-white:white;
$color-valid-input-shadow: lightgreen;
$color-valid-input: rgb(17, 240, 17);
$color-invalid-input-shadow: rgb(241, 105, 87);
$color-invalid-input: rgb(248, 0, 0);
$color-radio-button: rgb(17, 240, 17);
$color-footer-bg-primary: rgb(26, 24, 24);
$color-footer-bg-secondary: rgb(228, 65, 65);
$color-border-nav: #999;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
$margin-center:20%;
$col-margin-t-b:0.5rem;
$col-margin-l-r:10rem;
$col-text-size:2rem;
$col-2-width:2;
$col-3-width:3;

//FONT_SIZES
$default-fontsize:1.6rem;
$default-fontsize-tp:1.4rem;
$default-fontsize-p:1.2rem;

//ICON-SIZES
$default-iconsize:10rem;
