.btn{
	&,&:link,&:visited{
		margin-left:1rem;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		font-size: $default-fontsize;
		padding: 1.5rem 4rem;
		border-radius: 10rem;
		position: relative;
		cursor: pointer;
		transition: all 0.2s;
	
		box-shadow: 0rem 1rem 2rem $color-primary-dark;
	}
	&:hover,&:focus{
		background-color: $color-bckgd-second;
		outline: none;
		transform: translateY(-1rem);

		box-shadow: 0rem 1rem 2rem $color-blue;
		&::after{
			transform: scaleX(1.1) scaleY(1.2);
			opacity: 0;
		}
	}
	&:active,&:focus{
		background-color: $color-text-white;
		outline: none;
		transform: translateY(-0.4rem);
		box-shadow: 0rem 0.5rem 1rem $color-text-white;
	}
	&-animated{
		animation-name: dropUp;
		animation-timing-function: ease-out;
		animation-duration: 2s;
		animation-delay: 0.75s;
		animation-fill-mode: backwards;
	}
	&::after{
		content:"";
		height:100%;
		width:100%;
		border-radius:10rem;
		display:inline-block;
		position:absolute;
		top:0;
		left:0;
		z-index:-1;

		transition: all 0.4s;
	}
	&--white{
		background-color: $color-text-white;
		&--yellow{
			color:$color-yellow;
		}
		&--red{
			color:$color-bckgd-first;
		}
		&--green{
			color:$color-green;
		}
		&--blue{
			color:$color-blue-1;
		}
		&--orange{
			color:$color-orange;
		}
		&--discover{
			background-color: rgb(39, 137, 230);
			color:white;
		}
		&::after{
			background-color:$color-text-white;
		}
	}
}

.btn-text{
	&:link,
	&:visited{
		display: inline-block;
		font-size: 1.4rem;
		color:$color-yellow;
		text-decoration: none;
		border-bottom: 1px solid $color-yellow;
		transition: all 0.2s;
	}
	&:hover{
		transform: translateY(-2px);
		color: $color-bckgd-first;
		background-color: $color-yellow;
		box-shadow: 0 0.8rem 2rem $color-blue;
	}
	&:active{
		box-shadow: 0 0.4rem 1rem $color-primary-light;
		transform: translateY(0px);
	}
}