.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    margin-top: -5rem;
    color:$color-bckgd-first;
    @include respond(tl){
        //font-size: 56.25%;
    }
    @include respond(tp){
        height: auto;
        box-shadow: 0 2rem 4rem $pricing-box-shadow-color;
    }
    @include respond(p){
        height: auto;
        box-shadow: 0 2rem 4rem $pricing-box-shadow-color;
    }
    @include respond(bd){
        //padding: 5rem;
        //line-height: 1.9rem;
    }
    &__side{
        border-radius: 3px;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        transition: all 0.8s;
        height: 52rem;
        box-shadow: 0 2rem 4rem $pricing-box-shadow-color;
        @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
            box-shadow: none;
            height: auto;
            position: relative;
        }
        @include respond(p){
            box-shadow: none;
            height: auto;
            position: relative;
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
        &__front{
            position: absolute;
            background-color: $card-front-bg;
            @include respond(tl){
                //font-size: 56.25%;
            }
            @include respond(tp){
                position: relative;
                padding-bottom: 7rem;
            }
            @include respond(p){
                    position: relative;
                    padding-bottom: 7rem;
            }
            @include respond(bd){
                //padding: 5rem;
                //line-height: 1.9rem;
            }
            
        } 
        &__back{
            position: absolute;
            transform: rotateY(180deg);
        @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
            position: relative;
            transform: rotateY(0);
            -webkit-clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
            clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
            margin-top: -5rem;
        }
        @include respond(p){
            position: relative;
            transform: rotateY(0);
            -webkit-clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
            clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
            margin-top: -5rem;
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
            
        }
    }
    &:hover &__side__front{
        transform: rotateY(-180deg);
        @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
           transform: rotateY(0);
        }
        @include respond(p){
            transform: rotateY(0);
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
    }
    &:hover &__side__back{
        transform: rotateY(0);
    }
    &__picture{
        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
        -webkit-clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
        background-blend-mode: screen;
        background-size: cover;
        height: 23rem;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &--1{
            background-image: linear-gradient(to bottom,rgba($first-pricing-light,1),rgba($first-pricing-dark,1)),url(../img/Unity_basic.jpg);
        }
        &--2{
            background-image: linear-gradient(to bottom,rgba($second-pricing-light,1),rgba($second-pricing-dark,1)),url(../img/Unity_intermidiate.jpg);
        }
        &--3{
            background-image: linear-gradient(to bottom,rgba($third-pricing-light,1),rgba($third-pricing-dark,1)),url(../img/Advancecourse.jpg);
        }
    }
    &__heading{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2.5rem;
        text-align: right;
        top: 12rem;
        right: 2rem;
        position: absolute;
        display: inline-block;
        color:$pricing-color-h4-text;
        width: 65%;
    }
    &__heading--span{
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to bottom,rgba($first-pricing-light,1),rgba($first-pricing-dark,1)),url(../img/Unity_basic.jpg);
        }
        &--2{
            background-image: linear-gradient(to bottom,rgba($second-pricing-light,1),rgba($second-pricing-dark,1)),url(../img/Unity_intermidiate.jpg);
        }
        &--3{
            background-image: linear-gradient(to bottom,rgba($third-pricing-light,1),rgba($third-pricing-dark,1)),url(../img/Advancecourse.jpg);
        }
    }
    &__details{
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li{
                text-align: center;
                border-bottom: 1px solid $color-yellow;
                font-size: 1.5rem;
                font-weight: 300;
                &:not(:last-child){
                    padding-bottom: 1rem;
                }
            }

        }
    }
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
           top: 0;
           left: 0;
           transform: translate(0);
           position: relative;
           padding-top: 7rem;
           padding-left: 4rem;
           text-align: center;
           
        }
        @include respond(p){
            top: 0;
            left: 0;
            transform: translate(0);
            position: relative;
            padding-top: 7rem;
            padding-left: 4rem;
            text-align: center;
            
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
    }
    &__price-box{
        text-align: center;
        margin-bottom: 8rem;
        color: white;
        @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
           margin-bottom: 4.5rem;
        }
        @include respond(p){
            margin-bottom: 4.5rem;
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
    }
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value{
        font-size: 6rem;
        font-weight: 200;
        @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
           font-size: 5rem;
        }
        @include respond(p){
            font-size: 5rem;
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
    }
    &__discover{
        margin-top: -5rem;
        margin-bottom: -2rem;
    }
}


