*,
*::after,
*::before{
	margin:0;
	padding:0;
	box-sizing: inherit; 
}

html{
	font-size:62.5%;
	@include respond(tl){
		font-size: 56.25%;
	}
	@include respond(tp){
		font-size: 50%;
	}
	@include respond(p){
		font-size: 40%;
	}
	@include respond(bd){
		font-size: 75%;
	}
}
