.u-center-text{
    text-align: center !important;
}
.u-margin-bottom-big{
    margin-bottom: 8rem !important;
    @include respond(tl){
        //font-size: 56.25%;
    }
    @include respond(tp){
        margin-bottom: 5rem !important;
        //line-height: 1.5rem;
    }
    @include respond(p){
        margin-bottom: 5rem !important;
        //line-height: 1.3rem;
    }
    @include respond(bd){
        //padding: 5rem;
        //line-height: 1.9rem;
    }
}
.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
    @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
            margin-bottom: 2.5rem !important;
            //line-height: 1.5rem;
        }
        @include respond(p){
            margin-bottom: 2.5rem !important;
            //line-height: 1.3rem;
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
}
.u-margin-bottom-medium-alter-for-buttons{
    margin-bottom: 8rem !important;
    @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
            margin-bottom: 5rem !important;
            //line-height: 1.5rem;
        }
        @include respond(p){
            margin-bottom: 5rem !important;
            //line-height: 1.3rem;
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
    @include respond(tl){
            //font-size: 56.25%;
        }
        @include respond(tp){
            margin-bottom: 1rem !important;
            //line-height: 1.5rem;
        }
        @include respond(p){
            margin-bottom: 1rem !important;
            //line-height: 1.3rem;
        }
        @include respond(bd){
            //padding: 5rem;
            //line-height: 1.9rem;
        }
}
.u-gradient{
    &-1{
        background-image: linear-gradient(to bottom,rgba($first-pricing-light,0.8),rgba($first-pricing-dark,0.8));
    }
    &-2{
        background-image: linear-gradient(to bottom,rgba($second-pricing-light,0.8),rgba($second-pricing-dark,0.8));
    }
    &-3{
        background-image: linear-gradient(to bottom,rgba($third-pricing-light,0.8),rgba($third-pricing-dark,0.8));
    }
}
.highlights{
    color:transparent;
    display: inline-block;
    background-image: linear-gradient(to right,$color-primary-2,$color-primary-dark-2);
    -webkit-background-clip: text;
    margin: 0 auto;
    text-align: center;
    &__details{
        display: block;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__link{
        &:link,&:visited{
            margin-left: 4rem;
            margin-right: 4rem;
            font-size: 4rem;
            text-decoration: none;
            color: transparent;
            display: block;
        }
    }
}